@import "tailwindcss";
@plugin 'tailwindcss-motion';


.gradient-text {
  background: linear-gradient(
    to bottom right,
    oklch(62.3% 0.214 259.815),
    oklch(88.2% 0.059 254.128),
    oklch(62.3% 0.214 259.815)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
html{
  overflow-x:hidden ;
}
@theme{
  --font-headerBold: "Bebas Neue", "sans-serif";
  --font-first:"DM Sans", "sans-serif";
  --font-second:"Nunito Sans",  "sans-serif";
  --font-sample:"Inconsolata", "sans-serif";
}
