@import 'tailwindcss';

@font-face {
    font-family: "Recoleta";
    src: url("/Fonts/Recoleta-RegularDEMO.otf") format('opentype');
}

@font-face {
    font-family: "Garet";
    src: url("/Fonts/Garet-Heavy.otf") format('opentype');
}

@theme{
    --font-header:"Recoleta", sans-serif;
    --font-logo:"Garet", sans-serif;
}

html, body{
    width: 100%;
    background-color: #000;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@utility radial-gradient {
    background: radial-gradient(
            circle at center,
            #434343 0%,
            #000 50%,
            transparent 100%
    );
}

@utility flex-center{
    @apply flex items-center justify-center
}

@utility col-center{
    @apply flex flex-col items-center justify-center
}

@utility abs-center{
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}